@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto+Mono&display=swap');
:root{
    --font-primary : "Bungee Shade";
    --font-secondary : "Roboto Mono";

    --primary : rgb(5, 203, 65);
    --primary-shade : rgb(16, 80, 16);
    --primary-faded : rgba(5, 203, 64, 0.532);
    --error : brown;
    --error-shade : rgb(95, 16, 16); 
}
body{
    padding: 2em;
    padding-top: 0;
    background-color: #2a2c30;
    background-image: linear-gradient(225deg, #2a2c30 0%, #382837 79%, #997c3f 100%);
    width: 400px;
}
.title{
    margin: 0;
    padding: 0;
    line-height: auto;
    text-align: center;
    font-family: var(--font-primary);
    font-size: 2rem;
    color : white;
}
div.container{
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 1em 0;
}
button{
    border-radius: 10px;
    white-space: nowrap;
    padding: .5em;
    font-weight: bold;
    font-size: 1rem;
}
.enabled{
    color: black;
    background-color: rgb(5, 203, 65);
    border: 4px outset rgb(64, 152, 64);
}
.enabled:active{
    color: whitesmoke;
    background-color: rgb(21, 106, 21);
    border: 4px inset rgb(64, 152, 64);
}
.enabled:disabled{
    color: whitesmoke;
    background-color: rgb(16, 80, 16);
    border: 4px inset rgb(56, 128, 56);
}
.disabled{
    color: white;
    background-color: brown;
    border: 4px outset rgb(197, 102, 102);
}
.disabled:active{
    color: whitesmoke;
    background-color: rgb(95, 16, 16);    
    border: 4px inset rgb(197, 102, 102);
}
.disabled:disabled{
    color: whitesmoke;
    background-color: rgb(84, 14, 14);    
    border: 4px inset rgb(143, 77, 77);
}
.manual{
    cursor: pointer;
    border: 1px solid white;
    border-left: 5px solid white;
    padding: .5em;
}
#heading{
    color: white;
    font-family: var(--font-secondary);
    font-size : 1.2rem;
    border-radius: 5px;
    display: flex;
    padding: 0 .5em ;
    justify-content: space-between;
}
.items{
    font-family: var(--font-secondary);
    font-size : .9rem;
    margin-top: .5em;
    color: white;
}

.contracted {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden; /* Hide the element content, while height = 0 */
    max-height: 0px;
    opacity: 0;
    transition: max-height 250ms linear, opacity 250ms linear;
}
.contracted.expand {
    max-height: 10000px;
    opacity: 1;
    transition: max-height 250ms linear, opacity 250ms linear;
}

#indicate{
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 200ms ease-in;
}
.rotate{
    transform: rotate(45deg);
}